*{
margin: 0;
padding: 0;
}
.main{
width: 100%;
height: auto;
background-color: aqua;
}
h1{
font-size: 40px;
color: brown;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
}
p{
font-size: 20px;
color:blueviolet ;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
}
.second{
    width: 100%;
    height: auto;
    background-color: aquamarine;
}
@media screen and (max-width: 768px){
h1{
font-size: 33px;
font-weight: 400;
color: red;
padding: 10px 150px;
box-sizing: border-box;
}
p{
font-size: 24px;
color: red;
}
}
@media screen and (max-width: 480px){
h1{
    font-size: 24px;
font-weight: 300px;

color: azure;
padding:10px 20px;
box-sizing: border-box;
}
p{
    font-size: 18px;
    color: azure;
}




}















