*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
background-color: #ffffff ;
color: #555555;
font-family: 'lato','Arial','sans-serif';
font-weight: 300;
font-size: 20px;
text-rendering: optimizeLegibility;
scroll-behavior: smooth;
}

h1{
margin: 0px;
color: #ffffff;
font-size:200%;
font-weight:300;
word-spacing:3px;
letter-spacing:1px;
text-transform:uppercase;
margin-bottom: 20px;
}
.row{
max-width: 1140px;
margin: 0 auto;
}
header{
background-image:linear-gradient(rgba(0,0,0,0.582),#000), url("../img/hero.jpg");
background-size: cover;
background-position: center;
height: 100vh;
}
.hero-text-box{
position:absolute;
width: 1140px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.btn:link {
display: inline-block;
padding: 10px 30px;
font-weight: 300;
text-decoration:none;
border-radius: 20px;
}

.btn:visited {
display: inline-block;
padding: 10px 30px;
font-weight: 300;
text-decoration:none;
border-radius: 20px;
}

.btn-1:link,
.btn-1:visited{
background-color: #e67e22;
border: 1px solid #e67e22;
color: #ffffff;
}
.btn-2:link,
.btn-2:visited{
border:1px solid #e67e22 ;
color: #e67e22;
}
.btn:hover,
.btn:active{
background-color: #cf6d17;
}
.btn-1:hover,
.btn-1:active{
border:1px solid #cf6d17 ;
}
.btn-2:hover,
.btn-2:active{
border: 1px solid #cf6d17;
color: #ffffff;
}
.logo{
height: 100px;
width:auto ;
float: left;
margin-top: 20px;
}
.main-nav{
float: right;
list-style: none;
margin-top: 50px;
}
.main-nav li{
display: inline-block;
margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
color: #ffffff;
padding: 5px 0px;
text-decoration: none;
font-size: 90%;
border-bottom: 2px solid transparent;
transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
border-bottom:2px solid #cf6d17 ;
}

section{
padding: 80px 0px;
}
h2{
text-transform: uppercase;
font-size: 180%;
text-align: center;
word-spacing:3px;
font-weight: 300;
letter-spacing:1px ;
margin-bottom: 30px;
}
h2::after{
display: block;
height: 2px;
background-color: #cf6d17;
content:" ";
width: 100px;
margin: 0 auto;
margin-top: 20px;
}
.long-copy{
line-height: 145%;
width: 57%;
margin-left: 22%;
}
h3{
font-weight:300;
text-transform: uppercase;
font-size: 110%;
margin-bottom: 15px;
}
.box{
padding:1px;

}
.box p{
font-size: 90%;
line-height: 145%;
}
.icon-big{
font-size: 300%;
display:block;
color:#cf6d17;
margin-top: 10px;
}
.meals-showcase{
list-style-type: none ;
width: 100%;
}
.meals-showcase li{
display: block;
float: left;
width: 25%;
}
.meal-photo{
width: 100%;
margin: 0;
overflow: hidden;
background-color:black;
}
.section-meals{
padding: 0px;
}
.meal-photo img{
width: 100%;
height: auto;
transform: scale(1.15);
transition:transform 0.5s,opacity 0.5s;
opacity:0.7;
}
.meal-photo img:hover{
transform: scale(1.03);
opacity: 1;
}
.steps-box:first-child{
text-align: right;
padding-right: 3px;
margin-top: 30px;
}
.steps-box:last-child{
padding-left: 3px;
margin-top: 70px;
}
.app-screen{
width:40% ;
}
.work-steps{
margin-bottom: 80px;
}
.work-steps div{
color: #cf6d17;
border: 2px solid #cf6d17;
border-radius: 50%;
height:55px;
width: 55px;
text-align: center;
padding: 5px;
font-size: 150%;
margin-right: 25px;
float: left;
}
.btn-app img{
height:50px;
width: auto;
margin-right: 10px;
}
.clearfix::after{
content: '.';
clear: both;
display: block;
height: 0;
visibility: hidden;
}
.box img{
width: 100%;
height: auto;
}

.city-feature{
margin-bottom: 10px;
}
.icon-small{
display:inline-block ;
width:20px ;
color: #cf6d17;
font-size: 120%;
margin-right: 10px;
}
a:link,
a:visited{
color: #cf6d17;
text-decoration: none;
padding-bottom: 1px solid #e67e22;
transition:border-bottom 0.2s, 0.2s ;
}
a:hover,
a:active{
color:#555555 ;
border-bottom: 1px solid transparent;
}
.section-testimonial{
background-image: linear-gradient(rgba(0, 0, 0, 0.582),#000), url("../img/back-customers.jpg");
background-size: cover;
background-attachment: fixed;
color: #ffffff;
}

blockquote{
padding: 2%;
font-style:italic ;
line-height: 145%;
position: relative;
margin-top:20px;
}
blockquote::before{
content:'\201c';
font-size:400% ;
display:block ;
position: absolute;
top: -3px;
left: -3px;
}
blockquote cite{
font-size: 100%;
display: block;
margin-top: 25px;
}
cite img{
border-radius: 50%;
margin-right: 10px;
height: 50px;
vertical-align: middle;
}

.section-plans{
background-color: #ece6e6;
}
.plan-box{
background-color: #ffffff;
margin-left: 5%;
width:90% ;
border-radius: 5px;
box-shadow:0 2px 2px #b9b8b8 ;
}
.plan-box div{
padding: 15px;
border-bottom: 1px solid #e8e8e8;
}

.plan-price{
font-size: 300%;
margin-bottom: 10px;
font-weight:100 ;
color: #e67e22;
}
.plan-box span{
font-size:30% ;
font-weight: 300;
}
.plan-box ul{
list-style-type: none;
}

.plan-box div:last-child{
text-align: center;
border: 0;
}
.plan-box div:first-child{
background-color: #f3efef;
border-top-left-radius:5px;
border-top-right-radius: 5px;
}
.contact-form{
width: 60%;
margin:0 20% 0 20% ;
}

input[type=text],
input[type=email],
select,
textarea{
width: 100%;
padding:7px;
border-radius: 3px ;
border:1px solid #e67e22 ;
}

textarea{
height: 100px;

}
input[type=checkbox]{
margin: 10px 5px 10px 0;
}

*:focus{
outline:none;
border:none;
}

footer{
background-color: #333333;
padding: 50px;
}

.footer-nav{
list-style: none;
float: left;
}

.social-links{
list-style: none;
float: right;
}

.footer-nav li,
.social-links li{
display:inline-block ;
margin-right: 20px;
}
.footer-nav li:last-child{
margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
text-decoration: none;
border: 0;
color:#555555 ;
transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
color: #f3efef;
}
footer p{
color: #f3efef;
text-align: center;
font-size: 90%;
margin-top:20px;
}

.social-links li a:link,
.social-links li a:visited{
font-size: 180%;
}

.ion-social-facebook:hover{
color: #3b5998; 

}
.ion-social-twitter:hover{
color: #00aced; 
}
.ion-social-instagram:hover{
color: #dd4b39; 
}
.ion-social-googleplus:hover{
color: #517fa4; 
}
.navbar{
position: fixed;
background-color: rgba(128, 128, 128, 0.479) ;
width: 100%;
margin-left: 221.5px;
margin-top: 20px;
padding: 0 20px 20px 20px;     
z-index: 1;
}

